<div id="precios" class="section pricing-section" style="background-color: white;">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Precios</h2>
            <hr class="lines">
        </div>

        <div class="container py-4">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th class="w-25"></th>
                                            <th class="">DEMO</th>
                                            <th class="">SUSCRIPCIÓN MENSUAL</th>
                                            <th class="">VITALICIO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="w-25 option"><i class="fa fa-wifi"></i> Dispositivos wifi</td>
                                            <td class="">
                                                <%=demo_license.HotSpot_Devices%>
                                            </td>
                                            <td class="">Ilimitados</td>
                                            <td class="">Ilimitados</td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-user"></i> Usuarios de sistema</td>
                                            <td class="">
                                                <%= demo_license.App_Users %>
                                            </td>
                                            <td class="">Ilimitados</td>
                                            <td class="">Ilimitados</td>
                                        </tr>
                                        <tr>
                                            <td class="option"> <i class="fa fa-key"></i> Perfiles de sistema</td>
                                            <td class="">
                                                <%= demo_license.App_Profiles %>
                                            </td>
                                            <td class="">Ilimitados</td>
                                            <td class="">Ilimitados</td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-globe"></i> Usuarios de navegación</td>
                                            <td class="">
                                                <%= demo_license.HotSpot_Users %>
                                            </td>
                                            <td class="">Ilimitados</td>
                                            <td class="">Ilimitados</td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-ban"></i> Eliminar usuarios</td>
                                            <td><i class="fa fa-times"></i> </td>
                                            <td><i class="fa fa-check"></i></td>
                                            <td><i class="fa fa-check"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-lock"></i> Bloquear usuarios</td>
                                            <td><i class="fa fa-times"></i> </td>
                                            <td><i class="fa fa-check"></i></td>
                                            <td><i class="fa fa-check"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-print"></i> Reimprimir credenciales</td>
                                            <td><i class="fa fa-times"></i> </td>
                                            <td><i class="fa fa-check"></i></td>
                                            <td><i class="fa fa-check"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-copyright"></i> Marca de agua</td>
                                            <td><i class="fa fa-check"></i></td>
                                            <td><i class="fa fa-times"></i> </td>
                                            <td><i class="fa fa-times"></i> </td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-laptop"></i> No. Instalaciones/Licencias
                                            </td>
                                            <td class="">1</td>
                                            <td class="">2 gratis - 10$/mes licencia adicional</td>
                                            <td class="">10$ por licencia adicional</td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-calendar-check-o"></i> Vigencia</td>
                                            <td class="">
                                                <%= demo_license.DemoMonth %>
                                            </td>
                                            <td class="">Por renovación</td>
                                            <td class="">Vitalicio</td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-desktop"></i> Implementación</td>
                                            <td><i class="fa fa-times"></i> </td>
                                            <td class="">Incluida</td>
                                            <td class="">Incluida</td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-phone-square"></i> Soporte técnico</td>
                                            <td><i class="fa fa-times"></i> </td>
                                            <td class="">5 horas mensuales</td>
                                            <td class="">20 Horas después de implementar</td>
                                        </tr>
                                        <tr>
                                            <td class="option"><i class="fa fa-server"></i> Routers</td>
                                            <td><i class="fa fa-times"></i> </td>
                                            <td><i class="fa fa-times"></i> </td>
                                            <td><i class="fa fa-times"></i> </td>
                                        </tr>
                                        <tr>
                                            <td class="option"> <i class="fa fa-life-ring"></i> Apoyo técnico adicional
                                            </td>
                                            <td>Acompañamiento según interes</td>
                                            <td class="">$15/Incidente/hora</td>
                                            <td class="">$30/Incidente/hora</td>
                                        </tr>
                                        <tr>
                                            <td class="option"> <i class="fa fa-refresh"></i> Actualizaciones
                                                regulares
                                            </td>
                                            <td><i class="fa fa-check"></i></td>
                                            <td><i class="fa fa-check"></i></td>
                                            <td><i class="fa fa-times"></i> </td>
                                        </tr>
                                        <tr class="text-uppercase font-weight-bold">
                                            <td></td>
                                            <td><span>Gratis</span></td>
                                            <td>$50/mes</td>
                                            <td>$987.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="">
                                        <tr>
                                            <th class="w-25"></th>
                                            <th class="">
                                                <a href="https://kwh-files.nyc3.digitaloceanspaces.com/kaz-wifi-hotspot.msi"
                                                    download class="btn btn-common" style="min-width:212px">
                                                    Descargar
                                                </a>
                                            </th>
                                            <th class="">
                                                <button style="cursor: pointer;min-width:212px" type="button"
                                                    class="btn btn-common" onclick="payment()">Más Información
                                                </button>
                                            </th>
                                            <th class=""></th>
                                            <th class=""></th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <p class="section-subtitle"> <b>*</b> La misma aplicación descargada se utilizará para
                                    todos los
                                    planes, la licencia se actualizará de acuerdo con el plan de su elección.
                                </p>
                                <p> <b>*</b> Por favor vea nuestra sección de consultas acerca de cada licencia. <a
                                        href="faq#/planes/demo" target="_blank" rel="nofollow noreferrer noopener">
                                        Pulse aquí</a>
                                </p>

                                <p> <b>*</b> Pulse <a href="/faq#/limitantes" target="_blank"
                                        rel="nofollow noreferrer noopener">aquí</a> para
                                    conocer acerca de la cantidad de usuarios conectados al mismo tiempo según el
                                    dispositivo.
                                </p>
                                <p> <b>*</b> Instale la versión demo y luego active con la licencia que se ha
                                    proporcionado.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function payment() {
        Swal.fire({
            title: '<br>Métodos de pagos actuales',
            icon: '',
            html:
                `<br>
                <p>Visite nuestra sección de ayuda <b>antes</b> de realizar un pago : <a href="/ayuda#/compra/como" target ="_blank" rel="nofollow noreferrer noopener" >  Ver </a> </p>
                <br> <br> <br>
                <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <a href="/ayuda#/compra/cuentas" target ="blank" rel="nofollow noreferrer noopener" >  <h6 style=" color: cadetblue;"> <br> Depósito Bancario </h6> </a> 
                        </div> 
                        <div class="col-md-6 col-sm-6">
                            <a href="/ayuda#/compra/cuentas"  target ="blank" rel="nofollow noreferrer noopener" >  <h6 style=" color: cadetblue;"> <br> Transferencia Bancaria </h6> </a>
                        </div>
                    </div>
                <br> <br> <br>
                <p>Estamos trabajando para automatizar nuestro proceso de licenciamiento.</p>
                <br><small>Pedimos disculpa por los inconvenientes.</small>`
            , showCloseButton: true,
            showCancelButton: true,
            focusConfirm: false,
            showConfirmButton: false,
            confirmButtonText: '',
            confirmButtonAriaLabel: '',
            cancelButtonText: 'Cerrar',
            cancelButtonAriaLabel: ''
        });
    }
</script>