<div style="box-sizing:border-box;padding-top:40px">
    <div id="m_-6189043227641520307email-body" style="box-sizing:border-box;min-height:1px;padding-right:15px;padding-left:15px">
        <p style="box-sizing:border-box;margin:0 0 10px;padding-top:20px">
            Estimado cliente,
        </p>

        <p>La siguiente licencia ha sido aplicada correctamente : <small> <b>{{RecordData.license}}</b> </small></p>
        <p>Su código de cliente: <small> <b>{{RecordData.clientId}}</b> </small></p>

        <p style="box-sizing:border-box;margin:0 0 10px;padding-top:20px">
            <br>
            A continuación los detalles del ordenador en el que ha sido utilizada :
            <br>
            <br>
            <b>Fecha activación : </b> {{RecordData.date}}<br>
            <b>Pc : </b> {{RecordData.pc_name}}<br>
            <b>Sistema operativo : </b> {{RecordData.system_os}}<br>
            <b>Versión de la aplicación. : </b> {{RecordData.app_version}}<br>
            <b>Vigencia desde : </b> {{RecordData.start_date}}<br>
            <b>Vigencia hasta : </b> {{RecordData.end_date}}<br>
        </p>
    </div>
</div>