<div style="box-sizing:border-box;padding-top:40px">
    <div id="m_-6189043227641520307email-body"
        style="box-sizing:border-box;min-height:1px;padding-right:15px;padding-left:15px">
        <p style="box-sizing:border-box;margin:0 0 10px;padding-top:20px">
            Hola, {{name}}
        </p>
        <p style="box-sizing:border-box;margin:0 0 10px;padding-top:20px">
            Gracias por su interés en Kaz
        </p>

        <p style="box-sizing:border-box;margin:0 0 10px;padding-top:20px">
            Hemos recibido su solicitud de una licencia demostrativa

            <br>
            <br>
            Le compartimos los datos ingresados previamente :
            <br>
            <b>Nombre : </b> {{name}}<br>
            <b>Apellido : </b> {{lastname}}<br>
            <b>Empresa : </b> {{company}}<br>

            <br>
            <br>
            Por favor active la aplicación usando los datos a continuación :
            <br>
        <div
            style="border-color: #c3e6cb;background-color: #d4edda; color:#155724; padding: .75rem 1.25rem; border:1px solid transparent; border-radius: .25rem;">
            <b>Licencia: </b> {{license}}<br>
        </div>
        <br>
        <div
            style="border-color: #bee5eb;background-color: #d1ecf1; color:#0c5460; padding: .75rem 1.25rem; border:1px solid transparent; border-radius: .25rem;">
            <b>Código de cliente: </b> {{customerId}}<br>
        </div>
        <br>
        <br>
        Lo invitamos a revisar nuestra documentación para verificar los requisitos técnicos : <br>
        <p style="box-sizing:border-box;margin:0 0 10px;padding-top:20px">
            <a href="{{url_help}}"
                style="box-sizing:border-box;text-decoration:none;display:inline-block;margin-bottom:0;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;background-color:#2196F3;color:#ffffff;border:2px solid #2196F3;font-size:1rem;padding:.25em 1em;border-radius:1em"
                target="_blank" rel="noopener noreferrer" data-saferedirecturl="{{url_help}}">Requisitos técnicos</a>
        </p>
        <br>
        <br>
        Haga clic en el siguiente botón para descargar nuestro programa : <br>
        <p style="box-sizing:border-box;margin:0 0 10px;padding-top:20px">
            <a href="{{url_app_download}}"
                style="box-sizing:border-box;text-decoration:none;display:inline-block;margin-bottom:0;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;background-color:#4CAF50;color:#ffffff;border:2px solid #4CAF50;font-size:1rem;padding:.25em 1em;border-radius:1em"
                target="_blank" rel="noopener noreferrer" data-saferedirecturl="{{url_app_download}}"
                download>Descargar</a>
        </p>

        <br>
        <br>
        <br>

        <p style="color: #546E7A;">Nota:<br>Si no disponible conexión a Internet al activar la aplicación, por favor
            utilice la "ventana de activación sin internet", copie y pegue el siguiente código :</p>
        <br>
        <p style="color: #263238;">{{token}}</p>
        <br>
        <br>
        <br>
        </p>
        <p style="box-sizing:border-box;margin:0 0 10px;padding-top:20px">
            Una aplicación de growits © 2019 en colaboración con FlashNet ® 2018
        </p>
    </div>
</div>